/* CSS Document */
BODY,TD
{
	margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 
0px;
	font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 12px;

}
INPUT {
	FONT-SIZE: 12px
}

ul,ul li{margin:0;padding:0;}

a.headlink:link{COLOR: #DF3838;  TEXT-DECORATION: none;}
a.headlink:visited{COLOR: #DF3838; TEXT-DECORATION: none;}
a.headlink:hover{COLOR: #FF6600;  TEXT-DECORATION: underline;}

a.a2:link{COLOR:#000000;  TEXT-DECORATION: none;}
a.a2:visited{COLOR:#000000; TEXT-DECORATION: none;}
a.a2:hover{COLOR: #DF3838; TEXT-DECORATION: underline;}

a.a3:link{COLOR:#000000; TEXT-DECORATION: underline; font-size: 14px;}
a.a3:visited{COLOR:#000000; TEXT-DECORATION: underline; font-size: 14px;}
a.a3:hover{COLOR: #DF3838; TEXT-DECORATION: underline; font-size: 14px;}

a.wenzhang:link{
	COLOR:#000000;
	TEXT-DECORATION: none;
	font-size: 12px;
}
a.wenzhang:visited{
	COLOR:#000000;
	TEXT-DECORATION: none;
	font-size: 12px;
}
a.wenzhang:hover{COLOR: #DF3838; TEXT-DECORATION: underline;}

a.news:link{
	COLOR:#5C4501;
	TEXT-DECORATION: none;
	font-size: 12px;
}
a.news:visited{
	COLOR:#5C4501;
	TEXT-DECORATION: none;
	font-size: 12px;
}
a.news:hover{
	COLOR: #DF3838;
	TEXT-DECORATION: underline;
	font-size: 12px;
}

a.newcolor_a2:link{COLOR:#ff0000; font-size: 12px; TEXT-DECORATION: none;}
a.newcolor_a2:visited{COLOR:#ff0000; font-size: 12px; TEXT-DECORATION: none;}
a.newcolor_a2:hover{COLOR: #000000; font-size: 12px; TEXT-DECORATION: underline;}

a:link
{
    COLOR: #3d362b;
    TEXT-DECORATION: none;
}
a:hover
{
    COLOR: #FF5D08;
    TEXT-DECORATION: none;
}
a:visited
{
    COLOR: #666666;
}

.red {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CE4E00;
	font-weight: bolder;
}
.red-2 {COLOR:#887846;TEXT-DECORATION: none;font-size: 12px;font-weight: bold;}
.b8 {font-family: "Courier New", "Courier", "mono";font-size: 
12px;color: #000000;border:none;background-color: #CCCDC9;}
.b9 {font-family: "Courier New", "Courier", "mono";font-size: 
12px;color: #000000;border:none;background-color: #FFE8D0;}
.b10 {font-family: "Courier New", "Courier", "mono";font-size: 
12px;color: #000000;border:none;background-color: #FFBD75;}

.top-bg 
{
	background-color: #EEEECC;
}

.logo-bg 
{
	background-color: #F7F7E8;
}

.news-bg 
{
	background-color: #FBFBF2;
}


.ash 
{
	font-size: 12px;
	color: #999999;
}

.hui-2 
{
	border: 1px solid #D0D0D0;
	background-color: #EEEECC;
}

.hui-3 
{
	border: 1px solid #D0D0D0;
}

.chaxuntiao 
{
	background-color: #CCCC99;
}

.jiahui-4
{
	border: 1px solid #D0D0D0;
	background-color: #F0F0F0;
}

.jiawenzhang-type 
{
	font-size: 14px;
	color: #000000;
	line-height: 22px;
}
.jiahui-1 
{
	background-color: #F0F0F0;
}
.jiatype16 
{
	font-size: 24px;
	color: #000000;
	font-weight: bold;
}

.white 
{
	background-color: #FFE79D;
}
.xian 
{
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
}

.wenzhang_bg 
{
	background-color: #E6E6E6;
}

a.hei_bold:link
{
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.hei_bold:visited
{
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.hei_bold:hover
{
	font-size: 12px;
	font-weight: bold;
	color: #DF3838;
	text-decoration: underline;
}

a.black:link
{
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
a.black:visited
{
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
a.black:hover
{
	font-size: 14px;
	color: #DF3838;
	font-weight: bold;
	text-decoration: underline;
}

.home_1 
{
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-right-color: #B6B6B6;
	border-left-color: #B6B6B6;
	background-color: #F7F7E8;
}

.black_2 {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.home_2 
{
	color: #FFFFFF;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #B6B6B6;
	border-bottom-color: #B6B6B6;
	border-left-color: #B6B6B6;
	background-color: #FFFFFF;
}

/* added by zhuzg */
.home_3 
{
	color: #FFFFFF;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-width: 1px;

	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-style: solid;

	border-right-color: #B6B6B6;
	border-bottom-color: #B6B6B6;
	border-left-color: #B6B6B6;
	border-top-color: #B6B6B6;

	background-color: #FFFFFF;
}

.home_bg
{
	background-color: #F5F5F5;
}

a.top_yellow:link{font-size: 12px;  color: #B38702;  TEXT-DECORATION: none;}
a.top_yellow:visited{font-size: 12px; COLOR: #B38702; TEXT-DECORATION: none;}
a.top_yellow:hover{font-size: 12px; COLOR: #FF6600;  TEXT-DECORATION: underline;}

a.top_blue:link{font-size: 12px;  color: #0066CC;  TEXT-DECORATION: none;}
a.top_blue:visited{font-size: 12px; COLOR: #0066CC; TEXT-DECORATION: none;}
a.top_blue:hover{font-size: 12px; COLOR: #FF6600;  TEXT-DECORATION: underline;}

a.top_green:link{font-size: 12px;  color: #669900;  TEXT-DECORATION: none;}
a.top_green:visited{font-size: 12px; COLOR: #669900; TEXT-DECORATION: none;}
a.top_green:hover{font-size: 12px; COLOR: #FF6600;  TEXT-DECORATION: underline;}

a.top_red:link{font-size: 12px;  color: #FF6600;  TEXT-DECORATION: none;}
a.top_red:visited{font-size: 12px; COLOR: #FF6600; TEXT-DECORATION: none;}
a.top_red:hover{font-size: 12px; COLOR: #FF6600;  TEXT-DECORATION: underline;}
.huibg_xiantop 
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #DFDFDF;
	background-color: #F0F0F0;
}
.taolun_yellow-kuang {
	background-color: #F7F7E8;
	border: 1px solid #B0AA27;
}

a.black3:link
{
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
a.black3:visited
{
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
a.black3:hover
{
	font-size: 14px;
	color: #DF3838;
	text-decoration: underline;
}

.black4
{
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
.taolun_yellowhuang {
	background-color: #F7F7E8;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #B0AA27;
	border-bottom-color: #B0AA27;
	border-left-color: #B0AA27;
}
.taolun_leftright {
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #D0D0D0;
	border-left-color: #D0D0D0;
}
a.news1:link{
	COLOR:#5C4501;
	TEXT-DECORATION: none;
	font-size: 14px;
}
a.news1:visited{
	COLOR:#808080;
	TEXT-DECORATION: none;
	font-size: 14px;
}
a.news1:hover{
	COLOR: #DF3838;
	TEXT-DECORATION: underline;
	font-size: 14px;
}
.taolun_jia {
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B0AA27;
}
.jiaright {
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #B6B6B6;
}

a.red3:link {
	font-size: 12px;
	color: #FF0000;
	TEXT-DECORATION: none;
}
a.red3:visited {
	font-size: 12px;
	color: #FF0000;
	TEXT-DECORATION: none;
}
a.red3:hover{
	font-size: 12px;
	color: #000000;
	TEXT-DECORATION: underline;
}
.unknownspace-1_type1{
background-image: url("/mitbbs_images/unknownspace-yellow/unknownspace-1_type1.gif");
}
.unknownspace-1_type{
background-image: url("/mitbbs_images/unknownspace-yellow/unknownspace-1_type.gif");
}
.unknownspace-1_bg_table{
background-image: url("/mitbbs_images/unknownspace-yellow/unknownspace-1_bg_table.gif");
}
a.news2:link {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.news2:visited {
	font-size: 12px;
	color: #808080;
	text-decoration: none;
}
a.news2:hover {
	font-size: 12px;
	color: #DF3838;
	text-decoration: underline;
}


.ding_xian {
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D0D0D0;
}
.di_xian {
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D0D0D0;
	border-right-color: #D0D0D0;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-color: #D0D0D0;
	border-left-style: solid;
	border-left-width: 1px;
}
.zone_1 {
	background-color: #EEEECC;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #C4C695;
	border-left-color: #C4C695;
	border-bottom-color: #C4C695;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.zone_2 {
	background-color: #FDFCE8;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #C4C695;
	border-left-color: #C4C695;
}
.zone_3 {
	background-color: #FFFFF7;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #C4C695;
	border-left-color: #C4C695;
}
.ad_bg1 {
	background-color: #BFC340;
}
.white_14bold {
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
}

.ad_bg2 {
	background-color: #E7BF23;
}
.ad_bg3 {
	background-color: #79A9BC;
}
.ad_bg4 {
	background-color: #B9B9C5;
}
.ad_bg5 {
	background-color: #C7A4D1;
}
a.ad_12type:link {
	font-size: 12px;
	color: #9818A4;
	text-decoration: none;
}
a.ad_12type:visited {
	font-size: 12px;
	color: #999999;
	text-decoration: none;
}
a.ad_12type:hover {
	font-size: 12px;
	color: #DF3838;
	text-decoration: underline;
}
a.whitebold_14link:link {
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
a.whitebold_14link:visited {
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
a.whitebold_14link:hover {
	font-size: 14px;
	color: #FFFF00;
	font-weight: bold;
	text-decoration: underline;
}
.bg_whitexian {
	border: 1px solid #D0D0D0;
	background-color: #FFFFFF;
}
a.news4:link{
	COLOR:#5C4501;
	TEXT-DECORATION: none;
	font-size: 14px;
}
a.news4:visited{
	COLOR:#5C4501;
	TEXT-DECORATION: none;
	font-size: 14px;
}
a.news4:hover{
	COLOR: #DF3838;
	TEXT-DECORATION: underline;
	font-size: 14px;
}.jinghua {
	background-color: #F7F7F7;
}
.mail_bg {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-bottom-color: #CCCC99;
	background-color: #F1F1D6;
	border-top-color: #B0AA27;
}
.mail_bg2 {
	background-color: #F7F7E8;
	border-bottom-color: #B0AA27;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.mai_bgmail {
	background-color: #DCDCDC;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #B9B9B9;
	border-bottom-color: #B9B9B9;
	border-left-color: #FFFFFF;
}
.top_type_bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.black5 {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}
a.red1:link
{
	font-size: 14px;
	color: #FF0000;
	font-weight: bold;
	text-decoration: none;
}
a.red1:visited
{
	font-size: 14px;
	color: #FF0000;
	font-weight: bold;
	text-decoration: none;
}
a.red1:hover
{
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
}

a.news10:link{
	COLOR:#5C4501;
	TEXT-DECORATION: none;
	font-size: 10px;
}
a.news10:visited{
	COLOR:#5C4501;
	TEXT-DECORATION: none;
	font-size: 10px;
}
a.news10:hover{
	COLOR: #DF3838;
	TEXT-DECORATION: underline;
	font-size: 10px;
}

A.red_24p_link:link {
	COLOR: #000000;
	TEXT-DECORATION:none;
	font-size: 18px;
	font-weight: bold;
}
A.red_24p_link:visited {
	COLOR:#000000;
	TEXT-DECORATION:none;
	font-size: 18px;
	font-weight:bold;
}
A.red_24p_link:hover {
	COLOR: #DC0000;
	TEXT-DECORATION:underline;
	font-size: 18px;
	font-weight: bold;
}

.black10 {font-size: 10px;}

/*add newindex 1 start*/

.new_yellow_dhwkline {
	border: 1px solid #B8B58C;
}

.new_yellow_dhwkline2{
	border: 1px solid #B8B58C;
}

.new_yellow_headline {
	background-image: url(/newindex/yellowimages/index_r4_c2.jpg);
}

.new_yellow_headcenterback {
	background-image: url(/newindex/yellowimages/index_r8_c2.jpg);
}


.new_yellow_downline {
	background-image: url(/newindex/yellowimages/index_r10_c2.jpg);
}

.new_yellow_dh {
	background-image: url(/newindex/yellowimages/index_r15_c3.jpg);
}
/* add new index md start*/
.new_yellow_dh_new {
	background-image: url(/mitbbs_images/unknownspace-yellow/index_r15_c3.jpg);
}
/* add new index md end*/
.new_yellow_dh2{
	background-image: url(/newindex/yellowimages/index_r38_c3.jpg);
}
.new_yellow_dh3{
	background-image: url(/newindex/yellowimages/index_r20_c3.jpg);
}
.new_yellow_sosuo {
	background-image: url(/newindex/yellowimages/index_r5_c9.jpg);
}
.new_yellow_sosuo2 {
	background-image: url(/newindex/yellowimages/index_r6_c9.jpg);
}
.new_yellow_sosuo3 {
	background-image: url(/newindex/yellowimages/index_r7_c9.jpg);
}
.new_yellow_btl {
	background-image: url(/newindex/yellowimages/index_r52_c2.jpg);
}
.new_yellow_contectback {
	background-image: url(/newindex/yellowimages/index_r54_c2.jpg);
}
.new_yellow_contectdown {
	background-image: url(/newindex/yellowimages/index_r62_c2.jpg);
}
.new_yellow_dsj {
	background-color: #FDFDF3;
	border: 1px solid #cccccc;
}

a.new_wmdk_headlink:link{
	COLOR: #DB1C1D;
	TEXT-DECORATION: none;
	font-size: 16px;
}
a.new_wmdk_headlink:visited{COLOR: #DB1C1D; TEXT-DECORATION: none;font-size: 16px;}
a.new_wmdk_headlink:hover{COLOR: #000000;  TEXT-DECORATION: underline;font-size: 16px;}


a.new_yellowword :link{
	COLOR: #9C8326;
	TEXT-DECORATION: none;
	font-size: 12px;
}
a.new_yellowword :visited{COLOR: #9C8326; TEXT-DECORATION: none;font-size: 12px;}
a.new_yellowword :hover{COLOR: #000000;  TEXT-DECORATION: underline;font-size: 12px;}

a.new_newhead_headlink:link{
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-size: 16px;
}
a.new_newhead_headlink:visited{COLOR: #000000; TEXT-DECORATION: none;font-size: 16px;}
a.new_newhead_headlink:hover{COLOR: #DB1C1D;  TEXT-DECORATION: underline;font-size: 16px;}

.new_yellow_sdtjwz {
	background-image: url(/newindex/yellowimages/index_r32_c17.jpg);
}

a.new_sdtjwz1:link{
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-size: 14px;
}
a.new_sdtjwz1:visited{COLOR: #000000; TEXT-DECORATION: none;font-size: 14px;}
a.new_sdtjwz1:hover{COLOR: #DB1C1D;  TEXT-DECORATION: underline;font-size: 14px;}

.new_yellow_ymbutton {
	background-image: url(/newindex/yellowimages/index_r50_c7.jpg);
}

.new_yellow_rcbutton {
	background-image: url(/newindex/yellowimages/index_r64_c7.jpg);
}
.new_yellow_rcbutton2 {
	background-image: url(/newindex/yellowimages/index_r64_c8.jpg);
}
.new_yellow_rcbutton3{
	background-image: url(/newindex/yellowimages/index_r64_c11.jpg);
}

.new_jdtkuang {
	background-color: #F8F7D9;
	border: 1px solid #C5BC8E;
}
A.white_14p_link:link {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	font-size: 12px;
	font-weight: normal;
}
A.white_14p_link:visited {
	COLOR:#FFFFFF;
	TEXT-DECORATION: none;
	font-size: 12px;
	font-weight: normal;
}
A.white_14p_link:hover {
	COLOR: #FFCC00;
	TEXT-DECORATION: underline;
	font-size: 12px;
	font-weight: normal;
}


.new_yellow_xwbtl{
	background-image: url(/newindex/yellowimages/index_r26_c30.jpg);
}
.new_yellow_xwbtl2{
	background-image: url(/newindex/yellowimages/index_r29_c30.jpg);
}
.new_yellow_xwbtl3{
	background-image: url(/newindex/yellowimages/index_r39_c30.jpg);
}


.new_yellow_word12 {
	font-size: 12px;
	color: #AB8A3D;
}
.new_yellow_word14 {
	font-size: 14px;
	color: #AB8A3D;
}

a.new_black3:link
{
	font-size: 12px;
	color: #000000;
}
a.new_black3:visited
{
	font-size: 12px;
	color: #000000;
}
a.new_black3:hover
{
	font-size: 12px;
	color: #DF3838;
}


a.new_hui:link
{
	font-size: 12px;
	color: #83837E;
	text-decoration: none;
}
a.new_hui:visited
{
	font-size: 12px;
	color: #83837E;
	text-decoration: none;
}
a.new_hui:hover
{
	font-size: 12px;
	color: #000000;
}
.wbk1 {
	border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #000000;
        margin-bottom: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-left-style: solid;
        background-color: #FCFCF0;
        border-top-width: 1px;
        border-right-width: 1px;
        border-left-width: 1px;
        border-top-color: #000000;
        border-right-color: #000000;
        border-left-color: #000000;
}
.style5 {TEXT-DECORATION: none; font-size: 12px; color: #9C8326;}
a.new_wmdk_headlinkc:link{
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-size: 14px;
}
a.new_wmdk_headlinkc:visited{COLOR: #000000; TEXT-DECORATION: none;font-size: 14px;}
a.new_wmdk_headlinkc:hover{COLOR: #9C8326;  TEXT-DECORATION: underline;font-size: 14px;}

.wk_yellow {
	border-top: none;
	border-right: 1px solid #BAB58F;
	border-bottom: 1px solid #BAB58F;
	border-left: 1px solid #BAB58F;
}


.new_yellow_tjbtl{
	background-image: url(/newindex/yellowimages/tju_r2_c2.jpg);
}
.new_yellow_leftpic{
	background-image: url(/newindex/yellowimages/tju_r4_c4.jpg);
}

.new_yellow_leftpic2{
	background-image: url(/newindex/yellowimages/tju_r4_c8.jpg);
}

.new_yellow_leftpic3{
	background-image: url(/newindex/yellowimages/tju_r4_c10.jpg);
}

.new_yellow_leftpic4{
	background-image: url(/newindex/yellowimages/tju_r6_c3.jpg);
}

.new_yellow_leftpic5{
	background-image: url(/newindex/yellowimages/tju_r6_c8.jpg);
}
a.rightword:link{
        COLOR:#AB8A3D;
        TEXT-DECORATION: none;
        font-size: 12px;
}
a.rightword:visited{
        COLOR:#AB8A3D;
        TEXT-DECORATION: none;
        font-size: 12px;
}
a.rightword:hover{
        COLOR: #FF0000;
        TEXT-DECORATION: underline;
        font-size: 12px;
}

a.rightword2:link{
        COLOR:#AB8A3D;
        TEXT-DECORATION: none;
        font-size: 14px;
}
a.rightword2:visited{
        COLOR:#AB8A3D;
        TEXT-DECORATION: none;
        font-size: 14px;
}
a.rightword2:hover{
        COLOR: #FF0000;
        TEXT-DECORATION: underline;
        font-size: 14px;
}

.shengback {
        background-color: #F4F0A9;
}

.kjjy_head {
	background-color: #F5F6E4;
	border: 1px solid #D4D5AB;
}

.kjjy_cs{
	background-image: url(/newindex/yellowimages/jy_cs01.jpg);
}
.kjjy_cs_e{
	background-image: url(/newindex/yellowimages/jy_cs01_e.jpg);
}
.kjjy_cs2{
	background-image: url(/newindex/yellowimages/jy_cs02.jpg);
}
.kjjy_cs3{
	background-image: url(/newindex/yellowimages/jy_cs03.jpg);
}

.kjjy_xhx{
background-color: #DCDCB3;
}

.kjjy_flgg{
	background-image: url(/newindex/yellowimages/kjjy_flad.jpg);
}

.kjjy_flgg2{
	background-image: url(/newindex/yellowimages/kjjy_flad3.jpg);
}

.kjjy_flgg3{
	background-image: url(/newindex/yellowimages/kjjy_flad2.jpg);
}

a.newstj14:link{
	COLOR:#5C4501;
	TEXT-DECORATION: none;
	font-size: 14px;
}
a.newstj14:visited{
	COLOR:#5C4501;
	TEXT-DECORATION: none;
	font-size: 14px;
}
a.newstj14:hover{
	COLOR: #DF3838;
	TEXT-DECORATION: underline;
	font-size: 14px;
}

.new_yellow_tjbtla{
	background-image: url(/newindex/yellowimages/tju_r2_c2a.jpg);
}

.newkuangtu9068 {	
	border: 1px solid #000000;
}

/*add newindex 1 end*/
ul 
{
	line-height: 19px;
	padding-bottom: 2px;
	margin-bottom: 2px;
	margin-left: 8px;
	padding-left: 8px;	
}
ul#news
{
	text-align:left;
	margin-top: 0px;
}
/* add newindex 2 start */
ul#gb
{
        line-height: 18px;
	list-style-type: none;
}

.menulitteg li{text-align:left;line-height:20px;padding:0 0 0 13px;background:url(/newindex/images/gril_ico.gif) no-repeat 0px 3px;}

.menulitteb li{text-align:left;line-height:20px;padding:0 0 0 15px;background:url(/newindex/images/boy_ico.gif) no-repeat 0px 3px;}


/* add newindex 2 end*/
ul#menu 
{
	LIST-STYLE: none; 	 
	MARGIN-BOTTOM: 2px; 
	PADDING-BOTTOM: 2px;
	PADDING-LEFT: 5px; 
	MARGIN-LEFT: 5px;	 
	LINE-HEIGHT: 19px
}

ul#menu2 
{
	LIST-STYLE: none;
	MARGIN-BOTTOM: 2px; 
	PADDING-BOTTOM: 2px;
	LINE-HEIGHT: 19px;
 /*        PADDING-LEFT: -4px; */
	MARGIN-LEFT: -4px;
}

ul#menu3 
{
	LIST-STYLE: none;
	MARGIN-BOTTOM: 2px; 
	PADDING-BOTTOM: 2px;
	LINE-HEIGHT: 19px;
/*         PADDING-LEFT: -7px; */
	MARGIN-LEFT: -6px;
}

ul#menu4 
{
	LIST-STYLE: none;
	MARGIN-BOTTOM: 2px; 
	PADDING-BOTTOM: 2px;
	LINE-HEIGHT: 19px;
/*         PADDING-LEFT: -8px; */
	MARGIN-LEFT: -8px;
	
}

.menulitte li
{
       text-align:left;
       line-height:20px;
       padding:0 0 0 9px;
       background:url(/newindex/images/sj2_ico.gif) no-repeat 0 5px;
       list-style-position: outside;      
}

.menulitte2 li
{
       text-align:left;
       line-height:20px;
       padding:0 0 0 5px;
       background:url(/newindex/images/sj2_ico.gif) no-repeat 0 5px;
       list-style-position: outside;      
}
/* add newindex 3 start*/
ol 
  {
  line-height: 19px;
  padding-bottom: 2px;
  padding-left: 18px;
  margin-bottom: 2px;
  margin-left: 18px; 
  padding-top: 2px;
  margin-top: 2px;
  }

UL#left
{
	text-align:left;
    LINE-HEIGHT: 18px;  
	PADDING-LEFT: 12px;          
    PADDING-BOTTOM: 2px;
	PADDING-TOP: 2px;
	padding-right: 3px;
    MARGIN-LEFT: 12px;              
    MARGIN-TOP: 2px;
	MARGIN-BOTTOM: 2px;
}

/* /newindex/index.php */

.style1 {color: #FF0000}
.wbk2{
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #CBCBCB;
	border-left: 1px solid #CBCBCB;
}

.wbk3{
	border-top: none;
	border-right: 1px solid #CBCBCB;
	border-bottom:  1px solid #CBCBCB;
	border-left: 1px solid #CBCBCB;
}

.new_textsize {
	height: 16px;
	width: 398px;
	border: 1px solid #7B7B7B;
}

.rightindex {
        border-right-width: 1px;
        border-right-style: solid;
        border-bottom-style: none;
        border-left-style: none;
        border-right-color: #CACACA;
}
.hkindex {
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-right-color: #CACACA;
        border-bottom-color: #CACACA;
        border-left-color: #CACACA;
}

.new_textsize2 {
	height: 20px;
	width: 94px;
	border: 1px solid #7B7B7B;
}

.new_textsize3 {
	height: 19px;	
	border: 1px solid #7B7B7B;
}

.index_heikuang {
        border: 1px solid #000000;
}

.new_bgdx {
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #E6E6E6;
}
.style2 {color: #000000; font-size: 14px;}
.style4 {color: #83837E}
.new_dk {
	border: 1px solid #C7C7C7;
}
a.leftword:link{
        COLOR:#000000;
        TEXT-DECORATION: none;
        font-size: 12px;
}
a.leftword:visited{
        COLOR:#000000;
        TEXT-DECORATION: none;
        font-size: 12px;
}
a.leftword:hover{
        COLOR: #FF0000;
        TEXT-DECORATION: underline;
        font-size: 12px;
}

/* For FAQ */
th {
	font-size: 13px;
}
.kjjy_hk {background-color: #FFFFFF;
	border: 1px solid #C6C5C1;
	height: 19px;
	width: 80px;
}
.kjjy_huqk {background-color: #FFFFFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #C0C0C0;
	border-left-color: #C0C0C0;
}
.xuxian {
	background-color: #FEFEF8;
}
.waikuang {
	background-color: #FEFEF8;
	border: 1px solid #D4D5AB;
}
.huang1 {
	color: #307E36;
	font-size: 14px;
}
.style7 {font-size: 14px;
}

a.q1:link{
	COLOR:#df3838;
	TEXT-DECORATION: none;
	font-size: 12px;
}
a.q1:visited{
	COLOR:#df3838;
	TEXT-DECORATION: none;
	font-size: 12px;
}
a.q1:hover{
	COLOR: #000000;
	TEXT-DECORATION: underline;
	font-size: 12px;
}
/* End FAQ */
/* add newindex 3 end*/
.newskuang1 {
	background-color: #FDF4D9;
	border: 1px solid #FDF4D9;
}

.newskuang2 {
	background-color: #FAF5E5;
	border: 1px solid #F8EED0;
}

A.black_14p_link:link {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-size: 14px;
	font-weight: normal;
}
A.black_14p_link:visited {
	COLOR:#000000;
	TEXT-DECORATION: none;
	font-size: 14px;
	font-weight: normal;
}
A.black_14p_link:hover {
	COLOR: #FF0000;
	TEXT-DECORATION: underline;
	font-size: 14px;
	font-weight: normal;
}

a.hong:link{	COLOR:#CC5F40;	TEXT-DECORATION: none;	}
a.hong:visited{	COLOR:#CC5F40;	TEXT-DECORATION: none;	}
a.hong:hover{	COLOR: #DF3838;	TEXT-DECORATION: underline;}

.greenkuang {
	border: 1px solid #4A8741;
}

#new_toparticle {
	FLOAT: left; WIDTH: 245px; TEXT-ALIGN: left
}
#new_toparticle UL {
	MARGIN: 6px 0px 0px 16px; LINE-HEIGHT: 9px
}
#new_toparticle LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 7px; PADDING-TOP: 6px
}
#new_toparticle a:link{COLOR:#5C4501;TEXT-DECORATION: none;}
#new_toparticle a:visited{COLOR:#5C4501;TEXT-DECORATION: none;}
#new_toparticle a:hover{COLOR: #DF3838;TEXT-DECORATION: underline;}
#new_toparticle2 {
	FLOAT: right; WIDTH: 245px; TEXT-ALIGN: left
}
#new_toparticle2 UL {
	MARGIN: 6px 0px 0px 7px; LINE-HEIGHT: 9px
}
#new_toparticle2 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 7px; PADDING-TOP: 6px
}
#new_toparticle2 a:link{COLOR:#5C4501;TEXT-DECORATION: none;}

#new_toparticle2 a:visited{COLOR:#5C4501;TEXT-DECORATION: none;	}

#new_toparticle2 a:hover{COLOR: #DF3838;TEXT-DECORATION: underline;}

#new2_toparticle {
	FLOAT: left; WIDTH: 111px; TEXT-ALIGN: left
}
#new2_toparticle UL {
	MARGIN: 6px 0px 0px 16px; LINE-HEIGHT: 9px
}
#new2_toparticle LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 7px; PADDING-TOP: 6px
}
#new2_toparticle a:link{COLOR:#5C4501;TEXT-DECORATION: none;}
#new2_toparticle a:visited{COLOR:#5C4501;TEXT-DECORATION: none;}
#new2_toparticle a:hover{COLOR: #DF3838;TEXT-DECORATION: underline;}
#new2_toparticle2 {
	FLOAT: right; WIDTH: 125px; TEXT-ALIGN: left
}
#new2_toparticle2 UL {
	MARGIN: 6px 0px 0px 7px; LINE-HEIGHT: 9px
}
#new2_toparticle2 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 7px; PADDING-TOP: 6px
}
#new2_toparticle2 a:link{COLOR:#5C4501;TEXT-DECORATION: none;}

#new2_toparticle2 a:visited{COLOR:#5C4501;TEXT-DECORATION: none;	}

#new2_toparticle2 a:hover{COLOR: #DF3838;TEXT-DECORATION: underline;}

#gsxx_wordtable{
        margin-top:3px;
        border-top:1px dashed #333333;
}

#zhijia_ad{margin:2px 0 0 1px;}

.leftkuang{
border-left:#D0D0D0 1px solid;
border-right:#D0D0D0 1px solid;
}

.rightkuang{
border-right:#D0D0D0 1px solid;
}

#pmbt h1{
font-size:14px;
font-weight:bold;
margin-top:3px;
}


A.zhengqianpaimin:link {
        COLOR: #666666; TEXT-DECORATION: underline
}
A.zhengqianpaimin:visited {
        COLOR: #666666; TEXT-DECORATION: underline
}
A.zhengqianpaimin:hover {
        COLOR: #9C8326; TEXT-DECORATION: none
}

.redword {
        COLOR: #ff0000
}

#bgjl{
margin-top:5px;
}

#bgjl h1{
font-size:14px;
font-weight:bold;
margin-top:3px;
}

#banmianhuanyeword{
text-indent: 5px;
color:#82611E;
}

#banmianhuanyeword li{
list-style-type: square;
color:#000000;
margin:-2px 0 -2px 5px;
}

#banmianhuanyeword h2{
	margin: -3px 0 0 -3px;
	font-size: 13px;
	font-weight: normal;	
}

#banmianhuanyeword A {
	TEXT-DECORATION: none
}
#banmianhuanyeword A:visited {
	COLOR: #000000
}
#banmianhuanyeword A:link {
	COLOR: #000000
}
#banmianhuanyeword A:hover {
	COLOR: #DF3838; TEXT-DECORATION: underline
}

.banmianhui{
color:#1E1A1A;
font-weight:normal;
}

#starpic{
padding:0 0 3px 0;
}

a.new_black3a:link
{
	font-size: 14px;
	color: blue;
	line-height: 22px;
}
a.new_black3a:visited
{
	font-size: 14px;
	color: #00007F;
	line-height: 22px;
}
a.new_black3a:hover
{
	font-size: 14px;
	color: blue;
	line-height: 22px;
	text-decoration: underline;

}
/*add newindex md start*/
a.new_black3a_new:link
{
	font-size: 12px;
	color: #00007F;
}
a.new_black3a_new:visited
{
	font-size: 12px;
	color: #00007F;
}
a.new_black3a_new:hover
{
	font-size: 12px;
	color: #DF3838;
}
/*add newindex md end*/

A.grjd_head:link {
	FONT-SIZE: 13px; COLOR: #574300; LINE-HEIGHT: 22px;TEXT-DECORATION: underline;
}
A.grjd_head:visited {
	FONT-SIZE: 13px; COLOR: #574300; LINE-HEIGHT: 22px;TEXT-DECORATION: underline;
}
A.grjd_head:hover {
	FONT-SIZE: 13px; COLOR: #21201F; LINE-HEIGHT: 22px; TEXT-DECORATION: none;
}

A.grjd2_head:link {
	FONT-SIZE: 13px; COLOR: #000000; LINE-HEIGHT: 22px;TEXT-DECORATION: underline;
}
A.grjd2_head:visited {
	FONT-SIZE: 13px; COLOR: #000000; LINE-HEIGHT: 22px;TEXT-DECORATION: underline;
}
A.grjd2_head:hover {
	FONT-SIZE: 13px; COLOR: #574300; LINE-HEIGHT: 22px; TEXT-DECORATION: none;
}

.grjd2word
{
font-size:13px;
color:#574300;
}

#wbk2_text {
	BORDER-RIGHT: #a5b6bd 1px solid; BORDER-TOP: #a5b6bd 1px solid; BORDER-LEFT: #a5b6bd 1px solid; WIDTH: 670px; BORDER-BOTTOM: #a5b6bd 1px solid; HEIGHT: 298px
}

.lineleftright{
BORDER-LEFT: #CDCDCD 1px solid; 
BORDER-right: #CDCDCD 1px solid; 
}

.lineright{
BORDER-right:1px dashed #4A4A4A; 
}

.kuang_headico{
BORDER:1px solid #878787; 
}

#quanzz_contact{
margin:5px 0 0 10px;
}

#gongxiangxianshi_A1{
margin:13px 0 8px 0;
}

#gongxiangxianshi_A1 h1{
font-size:16px;
margin-top:3px;
}

#gongxiangxianshi_B{
margin:5px 0 2px 0;
}


#gongxiangxianshi_C{
margin:5px 0 -2px 0;
}

#gongxiangxianshi_C li{
margin: 2px 0px 2px 10px; 
LIST-STYLE-TYPE: circle;
line-height:22px;
}

#gongxiangxianshi_C A {	
        TEXT-DECORATION: underline}
#gongxiangxianshi_C A:visited {
	COLOR: #3E3D3D
}
#gongxiangxianshi_C A:link {
	COLOR: #3E3D3D
}
#gongxiangxianshi_C A:hover {
	COLOR: #574300; TEXT-DECORATION: none
}

#gongxiangxianshi{
margin:10px 15px 10px 15px;
width:940px;
}

#gongxiangxianshi p{
line-height:22px;
font-size:14px;
text-indent:27px;
}

#gongxiangxianshi2{
margin:10px 15px 10px 15px;
width:940px;
}


#gongxiangxianshi2 p{
line-height:22px;
font-size:14px;
text-indent:27px;
}

.bg_whitexian2{
BORDER-left:1px solid #D0D0D0;
BORDER-right:1px solid #D0D0D0;
BORDER-bottom:1px solid #D0D0D0;
background-color: #F4F4F4;
}


.bottomline{
BORDER-bottom:1px solid #D0D0D0;
}

.bg_whitexian3{
BORDER-right:1px solid #D0D0D0;
}

.msn_input{
        border: 1px solid #D0D0D0;
}

.msn_input1{
        border: 1px solid #D0D0D0;
	width: 140px;
	height: 20px;
}

.textkuang{
	border: 1px solid #D0D0D0;
}

.userinfo_input{
        border: 1px solid #D0D0D0;
}
.sanbian_huang{
border-top:1px solid #B0AA27;
border-left:1px solid #B0AA27;
border-right:1px solid #B0AA27;
BACKGROUND-COLOR: #F7F7E8;
}
.dibian_bai{
border-top:1px solid #D9D9D9;
border-left:1px solid #D9D9D9;
border-right:1px solid #D9D9D9;
border-bottom:1px solid #B0AA27;
BACKGROUND-COLOR: #ffffff;
}

#huodong_juli{

margin:7px 0 8px 0; 

}

.huodong_word{

text-indent:27px;
line-height:22px;

}
a.pagelink:link {
color: #F46521;
}
a.pagelink:visited {
color: #B54A1A;
}
a.pagelink:hover {
color: #F46521;
text-decoration: underline;
}

/*for userinfo start */

.popup-wrapper {
	BORDER-RIGHT: #CCCC99 10px solid; BORDER-TOP: #CCCC99 10px solid; Z-INDEX: 9999; OVERFLOW: hidden; BORDER-LEFT: #CCCC99 10px solid; BORDER-BOTTOM: #CCCC99 10px solid; POSITION: absolute;
}
.popup-content {
	BORDER-RIGHT: #8D8817 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #8D8817 1px solid; PADDING-LEFT: 6px; BACKGROUND: #f7f7f7; PADDING-BOTTOM: 6px; OVERFLOW: hidden; BORDER-LEFT: #8D8817 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #8D8817 1px solid; 
}
#popup-country {
	 FONT-SIZE: 13px; TEXT-DECORATION: none; OVERFLOW: hidden; LIST-STYLE-TYPE: none; MARGIN: 5px 0px;
}
#popup-country LI {
	PADDING-RIGHT: 4px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; PADDING-TOP: 0px; font-size:13px; TEXT-DECORATION: none;
}
#popup-country LI A {
	FONT-SIZE:13px; TEXT-DECORATION: none; DISPLAY: block;
}
#popup-country LI#c_0 , #popup-country LI#c_13 {
	BACKGROUND: none transparent scroll repeat 0% 0%;
}
#popup-country LI.active A {
	FONT-WEIGHT: bold; COLOR: #000;
}
#popup-country LI A:hover {
	TEXT-DECORATION: underline;
}
#popup-province, #popup-province-hs {
	BORDER-RIGHT: #c3c3c3 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #c3c3c3 1px solid; PADDING-LEFT: 3px; BACKGROUND: #fff; PADDING-BOTTOM: 3px; OVERFLOW: hidden; BORDER-LEFT: #c3c3c3 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #c3c3c3 1px solid; LIST-STYLE-TYPE: none; MARGIN: 5px 0px;
}

#popup-province LI , #popup-province-hs LI{
	FLOAT: left; TEXT-ALIGN: center; TEXT-DECORATION: none;
}
#popup-province LI {
	WIDTH: 36px;
}
#popup-province-hs LI {
	WIDTH: 60px;
}
#popup-province LI A , #popup-province-hs LI A {
	LINE-HEIGHT: 18px; DISPLAY: block; TEXT-DECORATION: none;
}
#popup-province LI.active A , #popup-province-hs LI.active A {
	BACKGROUND: #3b5888; COLOR: #fff;
}
#popup-province LI A:hover , #popup-province-hs LI A:hover {
	TEXT-DECORATION: underline;
}
#popup-unis , #popup-unis-hs {
	BORDER-RIGHT: #c3c3c3 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #c3c3c3 1px solid; OVERFLOW-Y: auto; OVERFLOW-X: hidden; PADDING-LEFT: 10px; BACKGROUND: #fff; PADDING-BOTTOM: 10px; MARGIN: 5px 0px; BORDER-LEFT: #c3c3c3 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #c3c3c3 1px solid; LIST-STYLE-TYPE: none; HEIGHT: 200px; TEXT-ALIGN: left;
}
#popup-unis LI , #popup-unis-hs LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 4px; WIDTH: 170px; PADDING-TOP: 4px; TEXT-DECORATION: none;  overflow: hidden; TABLE-LAYOUT: fixed; FONT-SIZE:12px;
}
#popup-unis LI A, #popup-unis-hs LI A {
        LINE-HEIGHT: 18px; DISPLAY: block; TEXT-DECORATION: none; FONT-SIZE:12px;
}
#popup-unis LI A:hover , #popup-unis-hs LI A:hover {
	BACKGROUND: #3b5888; COLOR: #fff; FONT-SIZE:12px;
}
#list1 {
	FLOAT: left; MARGIN: 5px 0px 0px 2px; WIDTH: 390px; HEIGHT: 280px; TEXT-DECORATION: none;
}
#list_pic {
	BORDER-RIGHT: #878787 1px solid; BORDER-TOP: #878787 1px solid; FLOAT: left; MARGIN: 2px 4px 0px 5px; BORDER-LEFT: #878787 1px solid; WIDTH: 120px; BORDER-BOTTOM: #878787 1px solid; HEIGHT: 250px
}
#list_word {
	FLOAT: right; MARGIN: 5px 0px 0px 2px; WIDTH: 240px; TEXT-DECORATION: none;
}
#list_word P {
	MARGIN: 1px 0px 0px; LINE-HEIGHT: 20px; TEXT-ALIGN: left; TEXT-DECORATION: none;
}
#list2 {
	FLOAT: right; MARGIN: 5px 0px 0px 2px; WIDTH: 380px; HEIGHT: 280px; TEXT-DECORATION: none;
}
#remind {
	MARGIN: 1px 0px 1px 0px; WIDTH: 99%; BACKGROUND: #F5F5F5; BORDER: #EBEBEB 1px solid; PADDING: 2px 0px 2px 0px;
}

.flat 
{
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
	background-color:#ffffff;
}

.bg_top_everypage_gif{
	background-image: url(/mitbbs_images/unknownspace-yellow/bg_top_everypage.gif);
}
.bg_top_everylogo_gif{
	background-image: url(/mitbbs_images/unknownspace-yellow/bg_top_everylogo.gif);
}
.bg_top_everypage_right_gif{
	background-image: url(/mitbbs_images/unknownspace-yellow/bg_top_everypage_right.gif);
}
.searchfriend_gif{
	background-image: url(/mitbbs_images/unknownspace-yellow/searchfriend.gif);
	background-color:   transparent;                             
	background-repeat:   no-repeat;                            
	border:   0px   solid;                                                   
        width:   64px;                                                               
	height:   20px;                                                         
	text-align:   center;                                                 
	font-size:   12px;                                                      
	color:   #FFFFFF;                                                         
	letter-spacing:   5px;                                             
	cursor:pointer;
}
.searchsite_gif{
	background-image: url(/mitbbs_images/unknownspace-yellow/searchsite.gif);
	background-color:   transparent;                             
	background-repeat:   no-repeat;                            
	border:   0px   solid;                                                   
        width:   64px;                                                               
	height:   20px;                                                         
	text-align:   center;                                                 
	font-size:   12px;                                                      
	color:   #FFFFFF;                                                         
	letter-spacing:   5px;                                             
	cursor:pointer;
}
.searchboard_gif{
	background-image: url(/mitbbs_images/unknownspace-yellow/searchboard.gif);
	background-color:   transparent;                             
	background-repeat:   no-repeat;                            
	border:   0px   solid;                                                   
        width:   64px;                                                               
	height:   20px;                                                         
	text-align:   center;                                                 
	font-size:   12px;                                                      
	color:   #FFFFFF;                                                         
	letter-spacing:   5px;                                             
	cursor:pointer;
}

/* add newindex 4 start */

/* ZD start*/
.zd_hutiao {
	background-color: #F0F0F0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D0D0D0;
}

.style6 {color: #FF0000}
.contectback {
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #B9B58F;
	border-left-color: #B9B58F;
}
.zd_wkhui {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #D0D0D0;
	border-left-color: #D0D0D0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D0D0D0;
}
.zd_textsize {
	height: 14px;
	width: 30px;
	border: 1px solid #A5ACB2;
}
.zd_hutiao1 {	background-color: #F0F0F0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #D0D0D0;
	border-bottom-color: #D0D0D0;
	border-left-color: #D0D0D0;
}
/* ZD end*/

/* Top Article Start */
#toparticle {
	text-align: left;
	float: left;
	width: 292px;
}

#toparticle ul {
margin: 6px 0 0 16px;
line-height: 7px;
}

#toparticle li {
	padding: 6px 0;
	
}

#toparticle a:link{
	COLOR:#000000;
	TEXT-DECORATION: none;
}
#toparticle a:visited{
	COLOR:#000000;
	TEXT-DECORATION: none;
}
#toparticle a:hover{COLOR: #DF3838; TEXT-DECORATION: underline;}

#toparticle2 {
text-align: left;
float: right;
width: 292px;
}

#toparticle2 ul {
margin: 6px 0 0 7px;
line-height: 7px;
}

#toparticle2 li {
	padding: 6px 0;
	
}

#toparticle2 a:link{
	COLOR:#000000;
	TEXT-DECORATION: none;	
}
#toparticle2 a:visited{
	COLOR:#000000;
	TEXT-DECORATION: none;	
}
#toparticle2 a:hover{COLOR: #DF3838; TEXT-DECORATION: underline;}
/* Top Article End */
/* for News Zahui */
#news a:link{ COLOR:#5C4501; TEXT-DECORATION: none; }
#news a:visited{ COLOR:#5C4501;	TEXT-DECORATION: none; }
#news a:hover{ COLOR: #DF3838; TEXT-DECORATION: underline; }

/* for Immigration */
.sy_ym{width:416px; height:15px;   margin: 8px 0 0 0; font-weight: bold; font-size: 12px;}
.sy_ymbt{float:left; width:90px;text-align:center; line-height:15px;}
.sy_ymList{float:right; width:88px; line-height:15px; text-align:left;}
h1{
	font-weight: bold;
	font-size: 12px;
	margin: 0 0 3px 4px;
}

h2{
	font-weight: bold;
	font-size: 12px;
	margin: 0 0 3px 187px;
}

#ymzl {
	text-align: left;
	float: left;
	width: 416px;
}
#ymzl ul {
margin: 3px 0 0 16px;
line-height: 14px;
}
#ymzl li {
	padding: 3px 0;
	margin-bottom: 2px;	
}

#ymzl a:link{
	COLOR:#000000;
	TEXT-DECORATION: none;
}
#ymzl a:visited{
	COLOR:#000000;
	TEXT-DECORATION: none;
}
#ymzl a:hover{COLOR: #DF3838; TEXT-DECORATION: underline;}

#ymzl2 {
	text-align: left;
	float: right;
	width: 88px;
	margin-bottom: 2px;
	line-height: 7px;
	padding: 6px 0;
	clear: right;
}

#ymzl2 a:link{
	COLOR:#000000;
	TEXT-DECORATION: none;
	
}
#ymzl2 a:visited{
	COLOR:#000000;
	TEXT-DECORATION: none;
	
}
#ymzl2 a:hover{COLOR: #DF3838; TEXT-DECORATION: underline;}


/*  For LTJC  */
#ltjc {
	text-align: left;
	float: left;
	width: 539px;
}
#ltjc ul {
margin: 2px 0 0 18px;
}
#ltjc li {
	padding: 6px 0;
	margin-bottom: 2px;	
	line-height: 6px;

}

#ltjc a:link{
	COLOR:#000000;
	TEXT-DECORATION: none;
}
#ltjc a:visited{
	COLOR:#000000;
	TEXT-DECORATION: none;
}
#ltjc a:hover{COLOR: #DF3838; TEXT-DECORATION: underline;}

#ltjc2 {
	text-align: left;
	float: right;
	width: 109px;
	line-height: 12px;
	padding: 4px 0 0 0;
	clear: both;
}

#ltjc2 a:link{
	COLOR:#000000;
	TEXT-DECORATION: none;
	
}
#ltjc2 a:visited{
	COLOR:#000000;
	TEXT-DECORATION: none;
	
}
#ltjc2 a:hover{COLOR: #DF3838; TEXT-DECORATION: underline;}

.huikuang {
	border: 1px solid #D4D2D5;
}

/* for olympic */
#ay_kuang{
	width:264px;
	height:43px;
	border:1px solid #B5B89B;

}
#ay_kuangback{
	background: url(images/ay_back.jpg) repeat-x;
	width:262px;
	height:41px;
	font-size:12px;
}


#ay_kuangback a {
text-decoration: none;
}

#ay_kuangback a:link {
color: #4F490D;
}

#ay_kuangback a:visited {
color: #4F490D;
}
#ay_kuangback a:hover {
color: #ff0000;
text-decoration: underline;
}

/*Index Right News Start*/

#rightword {
margin:2px;
color:#3A3736;
}
#rightword h1{
font-size:12px;
font-weight: bold;
color:#7A5F21;
padding:2px 3px 0 0;
text-align:left;
}

#rightword a {
text-decoration:none ;
}

#rightword a:visited {
        color: #000000;
}

#rightword a:link {color: #000000;
}

#rightword a:hover {
        color: #7A5F21;
        text-decoration: underline;
}

#rightword p{
margin:0 0 4px 4px;
line-height:18px;
text-align:left;
}

/*Index Right News End*/

.heise{
   color:#82611E;
   font-size:12px;
}

.style8 {color: #5C4501}

.wrapper {
	BORDER: #CCCC99 10px solid; Z-INDEX: 9999; OVERFLOW: hidden; POSITION: absolute;
}
.content {
	BORDER: #8D8817 1px solid; PADDING: 6px; BACKGROUND: #f7f7f7; OVERFLOW: hidden;  text-align: center; TEXT-ALIGN: center;
}

#popup-msg {
	BORDER: #c3c3c3 1px solid; PADDING: 3px; BACKGROUND: #fff; OVERFLOW: hidden;  LIST-STYLE-TYPE: none; MARGIN: 5px 0px;
}
.index_r16_c29_jpg{
	background-image: url(/newindex/yellowimages/index_r16_c29.jpg);		
}
.index_r14_c29_jpg{
	background-image: url(/newindex/yellowimages/index_r14_c29.jpg);		
}
.index_r18_c29_jpg{
	background-image: url(/newindex/yellowimages/index_r18_c29.jpg);		
}
.button_login_jpg{
	background-image: url(/newindex/yellowimages/button_login.jpg);	
	background-color:   transparent;                             
	background-repeat:   no-repeat;                            
	border:   0px   solid;                                                   
        width:   54px;                                                               
	height:   19px;                                                         
	text-align:   center;                                                 
	font-size:   12px;                                                      
	color:   #FFFFFF;                                                         
	letter-spacing:   5px;                                             
	cursor:pointer;
}
.button_get_pass_jpg{
	background-image: url(/newindex/yellowimages/button_get_pass.jpg);	
	background-color:   transparent;                             
	background-repeat:   no-repeat;                            
	border:   0px   solid;                                                   
        width:   54px;                                                               
	height:   19px;                                                         
	text-align:   center;                                                 
	font-size:   12px;                                                      
	color:   #FFFFFF;                                                         
	letter-spacing:   5px;                                             
	cursor:pointer;
}
.button_reg_indi_jpg{
	background-image: url(/newindex/yellowimages/button_reg_indi.jpg);	
	background-color:   transparent;                             
	background-repeat:   no-repeat;                            
	border:   0px   solid;                                                   
        width:   54px;                                                               
	height:   19px;                                                         
	text-align:   center;                                                 
	font-size:   12px;                                                      
	color:   #FFFFFF;                                                         
	letter-spacing:   5px;                                             
	cursor:pointer;
}
.button_reg_ent_jpg{
	background-image: url(/newindex/yellowimages/button_reg_ent.jpg);	
	background-color:   transparent;                             
	background-repeat:   no-repeat;                            
	border:   0px   solid;                                                      
        width:   54px;
	height:   19px;
	text-align:   center;
	font-size:   12px;
	color:   #FFFFFF;
	letter-spacing:   5px;
	cursor:pointer;
}
/* add newindex 4 end */

.line4{

border-left:1px solid #cccccc;
border-bottom:1px solid #cccccc;
}

.line5
{
border-left:1px solid #cccccc;
border-bottom:1px solid #cccccc;
border-right:1px solid #cccccc;
}

.line6
{
border-left:1px solid #cccccc;
}

.line7
{
border-left:1px solid #cccccc;
border-right:1px solid #cccccc;
}

 /* BEGIN: Tabs */
ul.tabs {float:left; position:relative; font-size:0.9em; list-style:none; margin:0; z-index:25; padding:0; padding-right:1px;} 
ul.tabs li {float:left; border:1px solid #b2b2b2; padding:0.3em 0.35em; background-color:#fff; margin:1px -1px -1px 0px;position:relative; z-index:50;}

ul.tabs li.active { background-color: #c2c2c2;
    color: #933c0c;
    font-weight:bold;}

ul.tabs li.unactive {background-color: #FFFFFF;
    color: #933c0c;
    font-weight:bold;}
PageWrap.about ul.tabs li a {color:#585858; text-decoration:none; font-size:0.99em;} 
PageWrap.about ul.tabs a:hover {text-decoration:underline;}
 /* END: Tabs */
 /* BEGIN: Column widths */
.main-wrapper {clear:left; float:left; width:58em; border:1px solid #b2b2b2; position:relative; z-index:0; margin-bottom:0.5em;}
PageWrap{font-size: small; width: 73.3em; background-color: #FFFFFF;   margin:0 auto 0.3em auto; padding: 1em;}



A.news14:link {

	FONT-SIZE: 14px; COLOR: #5c4501; TEXT-DECORATION: none

}

A.news14:visited {

	FONT-SIZE: 14px; COLOR: #5c4501; TEXT-DECORATION: none

}

A.news14:hover {

	FONT-SIZE: 14px; COLOR: #df3838; TEXT-DECORATION: underline

}


a.red14:link {
	font-size: 14px;
	color: #FF0000;
	TEXT-DECORATION: none;
}
a.red14:visited {
	font-size: 14px;
	color: #FF0000;
	TEXT-DECORATION: none;
}
a.red14:hover{
	font-size: 14px;
	color: #000000;
	TEXT-DECORATION: underline;
}

.huibian_3{
	border-left:1px solid #CACACA;
	border-right:1px solid #CACACA;
	border-bottom:1px solid #CACACA;
}

/*First DIV for popup window*/
#popupcontent{
	position: absolute;
	visibility: hidden;
	overflow: hidden;
	border:1px solid #CCC;
	background-color:#F9F9F9;
	padding:0px;
	z-index:1;
}

/*Second DIV for popup window*/
#closeico{
	position:absolute;
	top:1px;
	right:1px;
	z-index:2;
}

/*<a> for popup window*/
.closeico_a{
	background:#fe5b2d;
	width:31px;
	height:31px;
	border:none;
	display:block;
}

#closeico a:hover{background:#000000;}

