.gvsprite-19-black
  width: 19px
  height: 19px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -5px

.gvsprite-19-black_dead
  width: 19px
  height: 19px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -34px

.gvsprite-19-blankboarddq
  width: 475px
  height: 475px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -63px

.gvsprite-19-boarddq
  width: 475px
  height: 475px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -548px

.gvsprite-19-hlabel
  width: 722px
  height: 17px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -1033px

.gvsprite-19-markblack
  width: 19px
  height: 19px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -1060px

.gvsprite-19-markcircle
  width: 19px
  height: 19px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -1089px

.gvsprite-19-markcross
  width: 19px
  height: 19px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -1118px

.gvsprite-19-markmove
  width: 19px
  height: 19px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -1147px

.gvsprite-19-marksquare
  width: 19px
  height: 19px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -1176px

.gvsprite-19-marktriangle
  width: 19px
  height: 19px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -1205px

.gvsprite-19-markwhite
  width: 19px
  height: 19px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -1234px

.gvsprite-19-vlabel
  width: 20px
  height: 722px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -1263px

.gvsprite-19-white
  width: 19px
  height: 19px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -1995px

.gvsprite-19-white_dead
  width: 19px
  height: 19px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -2024px

.gvsprite-21-black
  width: 21px
  height: 21px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -2053px

.gvsprite-21-black_dead
  width: 21px
  height: 21px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -2084px

.gvsprite-21-blankboard
  width: 399px
  height: 399px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -2115px

.gvsprite-21-board
  width: 425px
  height: 420px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -2524px

.gvsprite-21-markblack
  width: 21px
  height: 21px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -2954px

.gvsprite-21-markcircle
  width: 21px
  height: 21px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -2985px

.gvsprite-21-markcross
  width: 21px
  height: 21px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3016px

.gvsprite-21-markmove
  width: 21px
  height: 21px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3047px

.gvsprite-21-marksquare
  width: 21px
  height: 21px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3078px

.gvsprite-21-marktriangle
  width: 21px
  height: 21px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3109px

.gvsprite-21-markwhite
  width: 21px
  height: 21px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3140px

.gvsprite-21-white
  width: 21px
  height: 21px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3171px

.gvsprite-21-white_dead
  width: 21px
  height: 21px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3202px

.gvsprite-back
  width: 31px
  height: 31px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3233px

.gvsprite-backall
  width: 31px
  height: 31px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3274px

.gvsprite-backc
  width: 31px
  height: 31px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3315px

.gvsprite-backn
  width: 31px
  height: 31px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3356px

.gvsprite-default
  width: 1px
  height: 1px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3397px

.gvsprite-forward
  width: 31px
  height: 31px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3408px

.gvsprite-forwardall
  width: 31px
  height: 31px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3449px

.gvsprite-forwardc
  width: 31px
  height: 31px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3490px

.gvsprite-forwardn
  width: 31px
  height: 31px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3531px

.gvsprite-hidenumber
  width: 31px
  height: 31px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3572px

.gvsprite-newwindow
  width: 16px
  height: 16px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3613px

.gvsprite-refresh
  width: 31px
  height: 31px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3639px

.gvsprite-shownumber
  width: 31px
  height: 31px
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3680px

