html, body {
  height: 100%; }

body {
  margin: 0;
  overflow: hidden; }

.gameviewer {
  width: 100%;
  height: 100%;
  background: #e6e0cf; }
  .gameviewer .board {
    width: 100%;
    height: 100%; }
  .gameviewer .toolbar {
    display: inline-block;
    margin-top: 5px;
    width: 100%;
    text-align: center; }
    .gameviewer .toolbar .tb-item {
      display: inline-block; }
    .gameviewer .toolbar .goTo {
      background-image: url(../../view/images/base.png);
      background-repeat: no-repeat;
      height: 35px;
      min-width: 35px;
      vertical-align: top; }
      .gameviewer .toolbar .goTo div {
        color: #3288c6;
        margin-top: 9px;
        margin-left: -2px; }
  .gameviewer .info {
    width: 100%;
    text-align: center;
    vertical-align: middle; }
    .gameviewer .info div {
      display: inline-block; }
    .gameviewer .info > div {
      padding: 0 5px; }
    .gameviewer .info .player-images {
      padding: 0; }
      .gameviewer .info .player-images .vs {
        vertical-align: top; }
  .gameviewer .comment-container {
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px 0;
    max-height: 19px;
    max-width: 900px;
    background: #e6e0cf;
    font-size: small;
    overflow: auto;
    opacity: 0.75; }
    .gameviewer .comment-container:hover {
      max-height: none; }
    .gameviewer .comment-container .branches {
      font-weight: bold; }
      .gameviewer .comment-container .branches a {
        text-decoration: none; }
    .gameviewer .comment-container .sub-container {
      display: inline-block;
      text-align: left; }

img.angled-view {
  width: 31px;
  height: 31px;
  background: url(../../view/images/angledView.png); }

img.top-view {
  width: 31px;
  height: 31px;
  background: url(../../view/images/topView.png); }

/* Image sprite */
.sprite-15-black {
  width: 15px;
  height: 15px;
  background: url(../../view/images/sprites.gif) 0 -5px; }

.sprite-15-black_dead {
  width: 15px;
  height: 15px;
  background: url(../../view/images/sprites.gif) 0 -30px; }

.sprite-15-white {
  width: 15px;
  height: 15px;
  background: url(../../view/images/sprites.gif) 0 -55px; }

.sprite-15-white_dead {
  width: 15px;
  height: 15px;
  background: url(../../view/images/sprites.gif) 0 -80px; }

.sprite-19-black {
  width: 19px;
  height: 19px;
  background: url(../../view/images/sprites.gif) 0 -105px; }

.sprite-19-black_dead {
  width: 19px;
  height: 19px;
  background: url(../../view/images/sprites.gif) 0 -134px; }

.sprite-19-blankboarddq {
  width: 475px;
  height: 475px;
  background: url(../../view/images/sprites.gif) 0 -163px; }

.sprite-19-boarddq {
  width: 513px;
  height: 513px;
  background: url(../../view/images/sprites.gif) 0 -648px; }

.sprite-19-hlabel {
  width: 722px;
  height: 17px;
  background: url(../../view/images/sprites.gif) 0 -1171px; }

.sprite-19-markblack {
  width: 19px;
  height: 19px;
  background: url(../../view/images/sprites.gif) 0 -1198px; }

.sprite-19-markcircle {
  width: 19px;
  height: 19px;
  background: url(../../view/images/sprites.gif) 0 -1227px; }

.sprite-19-markcross {
  width: 19px;
  height: 19px;
  background: url(../../view/images/sprites.gif) 0 -1256px; }

.sprite-19-markmove {
  width: 19px;
  height: 19px;
  background: url(../../view/images/sprites.gif) 0 -1285px; }

.sprite-19-marksquare {
  width: 19px;
  height: 19px;
  background: url(../../view/images/sprites.gif) 0 -1314px; }

.sprite-19-marktriangle {
  width: 19px;
  height: 19px;
  background: url(../../view/images/sprites.gif) 0 -1343px; }

.sprite-19-markwhite {
  width: 19px;
  height: 19px;
  background: url(../../view/images/sprites.gif) 0 -1372px; }

.sprite-19-vlabel {
  width: 20px;
  height: 722px;
  background: url(../../view/images/sprites.gif) 0 -1401px; }

.sprite-19-white {
  width: 19px;
  height: 19px;
  background: url(../../view/images/sprites.gif) 0 -2133px; }

.sprite-19-white_dead {
  width: 19px;
  height: 19px;
  background: url(../../view/images/sprites.gif) 0 -2162px; }

.sprite-21-black {
  width: 21px;
  height: 21px;
  background: url(../../view/images/sprites.gif) 0 -2191px; }

.sprite-21-black_dead {
  width: 21px;
  height: 21px;
  background: url(../../view/images/sprites.gif) 0 -2222px; }

.sprite-21-blankboard {
  width: 399px;
  height: 399px;
  background: url(../../view/images/sprites.gif) 0 -2253px; }

.sprite-21-board {
  width: 425px;
  height: 420px;
  background: url(../../view/images/sprites.gif) 0 -2662px; }

.sprite-21-markblack {
  width: 21px;
  height: 21px;
  background: url(../../view/images/sprites.gif) 0 -3092px; }

.sprite-21-markcircle {
  width: 21px;
  height: 21px;
  background: url(../../view/images/sprites.gif) 0 -3123px; }

.sprite-21-markcross {
  width: 21px;
  height: 21px;
  background: url(../../view/images/sprites.gif) 0 -3154px; }

.sprite-21-markmove {
  width: 21px;
  height: 21px;
  background: url(../../view/images/sprites.gif) 0 -3185px; }

.sprite-21-marksquare {
  width: 21px;
  height: 21px;
  background: url(../../view/images/sprites.gif) 0 -3216px; }

.sprite-21-marktriangle {
  width: 21px;
  height: 21px;
  background: url(../../view/images/sprites.gif) 0 -3247px; }

.sprite-21-markwhite {
  width: 21px;
  height: 21px;
  background: url(../../view/images/sprites.gif) 0 -3278px; }

.sprite-21-white {
  width: 21px;
  height: 21px;
  background: url(../../view/images/sprites.gif) 0 -3309px; }

.sprite-21-white_dead {
  width: 21px;
  height: 21px;
  background: url(../../view/images/sprites.gif) 0 -3340px; }

.sprite-back {
  width: 31px;
  height: 31px;
  background: url(../../view/images/sprites.gif) 0 -3371px; }

.sprite-backall {
  width: 31px;
  height: 31px;
  background: url(../../view/images/sprites.gif) 0 -3412px; }

.sprite-backc {
  width: 31px;
  height: 31px;
  background: url(../../view/images/sprites.gif) 0 -3453px; }

.sprite-backn {
  width: 31px;
  height: 31px;
  background: url(../../view/images/sprites.gif) 0 -3494px; }

.sprite-default {
  width: 1px;
  height: 1px;
  background: url(../../view/images/sprites.gif) 0 -3535px; }

.sprite-forward {
  width: 31px;
  height: 31px;
  background: url(../../view/images/sprites.gif) 0 -3546px; }

.sprite-forwardall {
  width: 31px;
  height: 31px;
  background: url(../../view/images/sprites.gif) 0 -3587px; }

.sprite-forwardc {
  width: 31px;
  height: 31px;
  background: url(../../view/images/sprites.gif) 0 -3628px; }

.sprite-forwardn {
  width: 31px;
  height: 31px;
  background: url(../../view/images/sprites.gif) 0 -3669px; }

.sprite-hidenumber {
  width: 31px;
  height: 31px;
  background: url(../../view/images/sprites.gif) 0 -3710px; }

.sprite-newwindow {
  width: 16px;
  height: 16px;
  background: url(../../view/images/sprites.gif) 0 -3751px; }

.sprite-refresh {
  width: 31px;
  height: 31px;
  background: url(../../view/images/sprites.gif) 0 -3777px; }

.sprite-shownumber {
  width: 31px;
  height: 31px;
  background: url(../../view/images/sprites.gif) 0 -3818px; }
