html, body {
  height: 100%; }

body {
  margin: 0;
  overflow: hidden; }

.gameviewer {
  width: 100%;
  height: 100%;
  background: #e6e0cf; }
  .gameviewer .board {
    width: 100%;
    height: 100%; }
  .gameviewer .toolbar {
    display: inline-block;
    margin-top: 5px;
    width: 100%;
    text-align: center; }
    .gameviewer .toolbar .tb-item {
      display: inline-block; }
    .gameviewer .toolbar .goTo {
      background-image: url(../../view/images/base.png);
      background-repeat: no-repeat;
      height: 35px;
      min-width: 35px;
      vertical-align: top; }
      .gameviewer .toolbar .goTo div {
        color: #3288c6;
        margin-top: 9px;
        margin-left: -2px; }
  .gameviewer .info {
    width: 100%;
    text-align: center;
    vertical-align: middle; }
    .gameviewer .info div {
      display: inline-block; }
    .gameviewer .info > div {
      padding: 0 5px; }
    .gameviewer .info .player-images {
      padding: 0; }
      .gameviewer .info .player-images .vs {
        vertical-align: top; }
  .gameviewer .comment-container {
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px 0;
    max-height: 19px;
    max-width: 900px;
    background: #e6e0cf;
    font-size: small;
    overflow: auto;
    opacity: 0.75; }
    .gameviewer .comment-container:hover {
      max-height: none; }
    .gameviewer .comment-container .branches {
      font-weight: bold; }
      .gameviewer .comment-container .branches a {
        text-decoration: none; }
    .gameviewer .comment-container .sub-container {
      display: inline-block;
      text-align: left; }

/* Image sprite */
.gvsprite-15-black {
  width: 15px;
  height: 15px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -5px; }

.gvsprite-15-white {
  width: 15px;
  height: 15px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -30px; }

.gvsprite-back {
  width: 31px;
  height: 31px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -55px; }

.gvsprite-backall {
  width: 31px;
  height: 31px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -96px; }

.gvsprite-backc {
  width: 31px;
  height: 31px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -137px; }

.gvsprite-backn {
  width: 31px;
  height: 31px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -178px; }

.gvsprite-forward {
  width: 31px;
  height: 31px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -219px; }

.gvsprite-forwardall {
  width: 31px;
  height: 31px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -260px; }

.gvsprite-forwardc {
  width: 31px;
  height: 31px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -301px; }

.gvsprite-forwardn {
  width: 31px;
  height: 31px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -342px; }
