#GV1.gameviewerdq
  #GV1_banner.gvbannerdq
    #GV1_bannerbg.gvbanner-overlay
      =t('whose_turn')
      \&nbsp;
      %span#GV1_nextPlayer.gvcontrol-text
        \&nbsp;
    .gvmove-outerdq.gvbutton
      %a.thickbox{ :href => "#TB_inline?test=0&width=250&height=56&inlineId=GV1_goTo&focus=GV1_goToInput&modal=true&test1=0", :title => t('jump_to_xx') + " [Alt Shift G]" }
        =t('move_number_before')
        \&nbsp;
        %span#GV1_curMove.gvcontrol-text
          0
        \&nbsp;
        =t('move_number_after')
    .gvbanner-overlay
      .gvprisoners-outerdq
        .gvblack-prisoners-outerdq
          %span#GV1_blackPrisonersOuter.gvbutton
            %a{ :href => "#", :onclick => "return false;" }
              =t('black_dead')
              %span#GV1_blackPrisoners.gvcontrol-text
                0
        .gvwhite-prisoners-outerdq
          %span#GV1_whitePrisonersOuter.gvbutton
            %a{ :href => "#", :onclick => "return false;" }
              =t('white_dead')
              %span#GV1_whitePrisoners.gvcontrol-text
                0
      .gvopen-window-outerdq
        %a{:title=>t('open_in_new_window') + " [Alt Shift W]", :href=>"#", :onclick=>"jsGameViewer.GV1.openInWindow();return false;"}
          %img.gvsprite-newwindow{ :src => "/jsgameviewer/view/images/default.gif", :border => "0px" }
  .gvboard-realdq
  #GV1_boardOuter.gvboard-outerdq
    #GV1_board.gvboarddq.gvsprite-19-boarddq
      #GV1_boardPoints.gvboard-overlay
      #GV1_boardMarks.gvboard-overlay
      #GV1_boardBranches.gvboard-overlay
      #GV1_moveMarks
      #GV1_prisoners.gvboard-overlay
      #GV1_boardFascade.gvboard-overlay.gvboard-fascade
        %img.gvsprite-19-blankboarddq{ :src => "/jsgameviewer/view/images/default.gif" }
    #GV1_vlabel.gvboardvlabel
    #GV1_hlabel.gvboardhlabel
  #GV1_toolbar.gvtoolbardq
    #GV1_refresh.gvtb-item
      %a.toggleopacity{ :href => "#", :title => t('refresh') + " [Alt Shift R]", :onclick => "jsGameViewer.GV1.refresh();return false;" }
        %img#GV1_refreshImg.gvsprite-refresh{ :src => "/jsgameviewer/view/images/default.gif", :border => "0px" }
    #GV1_toggleNumber.gvtb-item
      %a.toggleopacity{ :href => "#", :title => t('show_hide_move_number') + " [Alt Shift M]", :onclick => "jsGameViewer.GV1.toggleNumber();return false;" }
        %img#GV1_toggleNumberImg.gvsprite-shownumber{ :src => "/jsgameviewer/view/images/default.gif", :border => "0px" }
    #GV1_backAll.gvtb-item
      %a.toggleopacity{ :href => "#", :title => t('home') + " [Ctrl Alt &#8592;]", :onclick => "jsGameViewer.GV1.backAll();return false;" }
        %img.gvsprite-backall{ :src => "/jsgameviewer/view/images/default.gif", :border => "0px" }
    #GV1_backC.gvtb-item
      %a.toggleopacity{ :href => "#", :title => t('prev_comment_or_branch') + " [Alt Shift &#8592;]", :onclick => "jsGameViewer.GV1.backToComment();return false;" }
        %img.gvsprite-backc{ :src => "/jsgameviewer/view/images/default.gif", :border => "0px" }
    #GV1_backN.gvtb-item
      %a.toggleopacity{ :href => "#", :title => t('fast_back') + " [Ctrl &#8592;]", :onclick => "jsGameViewer.GV1.backN();return false;" }
        %img.gvsprite-backn{ :src => "/jsgameviewer/view/images/default.gif", :border => "0px" }
    #GV1_back.gvtb-item
      %a.toggleopacity{ :href => "#", :title => t('back') + " [&#8592;]", :onclick => "jsGameViewer.GV1.back();return false;" }
        %img.gvsprite-back{ :src => "/jsgameviewer/view/images/default.gif", :border => "0px" }
    #GV1_forward.gvtb-item
      %a.toggleopacity{ :href => "#", :title => t('forward') + " [&#8594;]", :onclick => "jsGameViewer.GV1.forward();return false;" }
        %img.gvsprite-forward{ :src => "/jsgameviewer/view/images/default.gif", :border => "0px" }
    #GV1_forwardN.gvtb-item
      %a.toggleopacity{ :href => "#", :title => t('fast_forward') + " [Ctrl &#8594;]", :onclick => "jsGameViewer.GV1.forwardN();return false;" }
        %img.gvsprite-forwardn{ :src => "/jsgameviewer/view/images/default.gif", :border => "0px" }
    #GV1_forwardC.gvtb-item
      %a.toggleopacity{ :href => "#", :title => t('next_comment_or_branch') + " [Alt Shift &#8594;]", :onclick => "jsGameViewer.GV1.forwardToComment();return false;" }
        %img.gvsprite-forwardc{ :src => "/jsgameviewer/view/images/default.gif", :border => "0px" }
    #GV1_forwardAll.gvtb-item
      %a.toggleopacity{ :href => "#", :title => t('end') + " [Ctrl Alt &#8594;]", :onclick => "jsGameViewer.GV1.forwardAll();return false;" }
        %img.gvsprite-forwardall{ :src => "/jsgameviewer/view/images/default.gif", :border => "0px" }
    #GV1_branches.gvtb-branches
  #GV1_pointLabel.gvpoint-labeldq{ :align => "center" }
  #GV1_rightPane.gvright-panedq
    #GV1_info.gvinfo
    #GV1_comment.gvcomment
  #GV1_goTo{ :style => "display:none;" }
    %form{ :name => "GV1_goToForm", :onsubmit => "return false;", :action => "#" }
      =t('jump_to')
      %input#GV1_goToInput{ :name => "goToInput", :size => "5", :type => "text", :onKeyDown => "jsGameViewer.GV1.goToKeyDown(this,event);", :style => "text-align:center" }
      =t('move_number_after')
      \&nbsp;&nbsp;&nbsp;&nbsp;
      %input{ :type => "submit", :value => t('submit'), :onclick => "jsGameViewer.GV1.goToOkHandler();" }
      \&nbsp;&nbsp;
      %input{ :type => "submit", :value => t('cancel'), :onclick => "tb_remove();jsGameViewer.GV1.postThickBoxFix();" }