<IfModule mod_security.c>
  SecFilterEngine Off
</IfModule>

<IfModule mod_gzip.c>
  mod_gzip_on                   Yes
  mod_gzip_can_negotiate        Yes
  mod_gzip_static_suffix        .gz
  AddEncoding              gzip .gz
  mod_gzip_update_static        No
#  mod_gzip_temp_dir             /tmp
  mod_gzip_minimum_file_size    10000
  mod_gzip_maximum_file_size    500000
  mod_gzip_maximum_inmem_size   60000
  mod_gzip_min_http             1000
  mod_gzip_handle_methods        GET POST
  mod_gzip_item_include         file       \.php$
  mod_gzip_item_include         file       \.html$
  mod_gzip_item_exclude         file       \.js$
  mod_gzip_item_exclude         file       \.css$
  mod_gzip_item_exclude         mime       ^image/
  mod_gzip_dechunk              Yes
  mod_gzip_send_vary            On
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/gif  A86400000
</IfModule>

AddType 'text/plain; charset=gb2312' sgf
AddType 'text/javascript; charset=gb2312' js