.sprite-15-black
  width: 15px
  height: 15px
  background: url(http://gcao.github.io/jsgameviewer/view4/images/sprites.png) 0 -5px

.sprite-15-white
  width: 15px
  height: 15px
  background: url(http://gcao.github.io/jsgameviewer/view4/images/sprites.png) 0 -30px

.sprite-angledview
  width: 31px
  height: 31px
  background: url(http://gcao.github.io/jsgameviewer/view4/images/sprites.png) 0 -55px

.sprite-back
  width: 31px
  height: 31px
  background: url(http://gcao.github.io/jsgameviewer/view4/images/sprites.png) 0 -96px

.sprite-backall
  width: 31px
  height: 31px
  background: url(http://gcao.github.io/jsgameviewer/view4/images/sprites.png) 0 -137px

.sprite-backc
  width: 31px
  height: 31px
  background: url(http://gcao.github.io/jsgameviewer/view4/images/sprites.png) 0 -178px

.sprite-backn
  width: 31px
  height: 31px
  background: url(http://gcao.github.io/jsgameviewer/view4/images/sprites.png) 0 -219px

.sprite-forward
  width: 31px
  height: 31px
  background: url(http://gcao.github.io/jsgameviewer/view4/images/sprites.png) 0 -260px

.sprite-forwardall
  width: 31px
  height: 31px
  background: url(http://gcao.github.io/jsgameviewer/view4/images/sprites.png) 0 -301px

.sprite-forwardc
  width: 31px
  height: 31px
  background: url(http://gcao.github.io/jsgameviewer/view4/images/sprites.png) 0 -342px

.sprite-forwardn
  width: 31px
  height: 31px
  background: url(http://gcao.github.io/jsgameviewer/view4/images/sprites.png) 0 -383px

.sprite-topview
  width: 31px
  height: 31px
  background: url(http://gcao.github.io/jsgameviewer/view4/images/sprites.png) 0 -424px

