<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div id="container"></div>

    <script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/js/zh_cn.js"></script>
    <script type="text/javascript" src="/js/base.js"></script>
    <script type="text/javascript" src="/js/model.js"></script>
    <script type="text/javascript" src="/js/parser.js"></script>
    <script type="text/javascript" src="/js/controller.js"></script>
    <script src="js/three/three.js"></script>
    <script src="js/three/OrbitControls.js"></script>
    <script src="js/view.js"></script>
    <script type="text/javascript">
      var controller = new jsGameViewer.GameController({container: 'container'})
      controller.init();
      setTimeout(function() {
        // setup board pieces for testing
        controller.addStone(0, 0, jsGameViewer.model.STONE_BLACK);
        controller.addStone(3, 3, jsGameViewer.model.STONE_BLACK);
        controller.addStone(3, 4, jsGameViewer.model.STONE_WHITE);
        controller.addStone(4, 3, jsGameViewer.model.STONE_WHITE);
        controller.addStone(4, 4, jsGameViewer.model.STONE_BLACK);
        controller.addStone(3, 15, jsGameViewer.model.STONE_BLACK);
        controller.addStone(15, 3, jsGameViewer.model.STONE_BLACK);
        controller.addStone(15, 15, jsGameViewer.model.STONE_WHITE);
        controller.addStone(18, 18, jsGameViewer.model.STONE_WHITE);
      }, 1000);
    </script>
  </body>
</html>

