<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <%#
    <div class='gameviewer'>
      <div class='toolbar'>
        <div class='tb-item angledView'><a class='toggle-opacity ' href='javascript: void(0)'><img class='angled-view' src='/view/images/default.gif'></a></div>
        <div class='tb-item topView'><a class='toggle-opacity ' href='javascript: void(0)'><img class='top-view' src='/view/images/default.gif'></a></div>
        <div class='tb-item backAll'><a class='toggle-opacity ' href='javascript: void(0)'><img class='sprite-backall' src='/view/images/default.gif'></a></div>
        <div class='tb-item backN'><a class='toggle-opacity ' href='javascript: void(0)'><img class='sprite-backn' src='/view/images/default.gif'></a></div>
        <div class='tb-item back'><a class='toggle-opacity ' href='javascript: void(0)'><img class='sprite-back' src='/view/images/default.gif'></a></div>
        <div class='tb-item jumpTo'><div class='move-number'>0</div></div>
        <div class='tb-item forward'><a class='toggle-opacity ' href='javascript: void(0)'><img class='sprite-forward' src='/view/images/default.gif'></a></div>
        <div class='tb-item forwardN'><a class='toggle-opacity ' href='javascript: void(0)'><img class='sprite-forwardn' src='/view/images/default.gif'></a></div>
        <div class='tb-item forwardAll'><a class='toggle-opacity ' href='javascript: void(0)'><img class='sprite-forwardall' src='/view/images/default.gif'></a></div>
      </div>
      <div class='info'>
        <div class='time'></div>
        <div class='name'></div>
        <div class='white-player'></div>
        <div class='player-images'>
          <div class='white'><img src='/view/images/15/white.gif'/></div>
          <div class='vs'>-</div>
          <div class='black'><img src='/view/images/15/black.gif'/></div>
        </div>
        <div class='black-player'></div>
        <div><span class='result'>B+</span> after <span class='moves'>290</span> moves</div>
      </div>
      <div class='comment-container' align='center'>
        <div class='comment'></div>
      </div>
      <div class='board'></div>
    </div>
    %>
    <script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/js/zh_cn.js"></script>
    <script type="text/javascript" src="/js/base.js"></script>
    <script type="text/javascript" src="/js/model.js"></script>
    <script type="text/javascript" src="/js/parser.js"></script>
    <script type="text/javascript" src="/js/controller.js"></script>
    <script type="text/javascript" src="js/three/three.js"></script>
    <script type="text/javascript" src="js/three/OrbitControls.js"></script>
    <script type="text/javascript" src="fonts/helvetiker_regular.typeface.js"></script>
    <script type="text/javascript" src="3d_assets/board.js"></script>
    <script type="text/javascript" src="3d_assets/stone.js"></script>
    <script type="text/javascript" src="js/view.js"></script>
    <script type="text/javascript">
      var cc = controller = new jsGameViewer.GameController();

      var game = getQueryVariable('game') || '/examples/games/danghu1.sgf';

      controller.load(game);

      function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split('&');
        for (var i = 0; i < vars.length; i++) {
          var pair = vars[i].split('=');
          if (decodeURIComponent(pair[0]) == variable) {
            return decodeURIComponent(pair[1]);
          }
        }
      }
    </script>
  </body>
</html>

