<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div class="gameviewer">
      <div class="toolbar">
        <%#<div class="tb-item refresh"><a class="toggle-opacity " href="javascript: void(0)"><img class="sprite-refresh" src="/view/images/default.gif"></a></div>%>
        <%#<div class="tb-item toggleNumber"><a class="toggle-opacity " href="javascript: void(0)" title="显示/隐藏手数"><img class="sprite-shownumber" src="/view/images/default.gif"></a></div>%>
        <div class="tb-item backAll"><a class="toggle-opacity " href="javascript: void(0)"><img class="sprite-backall" src="/view/images/default.gif"></a></div>
        <div class="tb-item backN"><a class="toggle-opacity " href="javascript: void(0)"><img class="sprite-backn" src="/view/images/default.gif"></a></div>
        <div class="tb-item back"><a class="toggle-opacity " href="javascript: void(0)"><img class="sprite-back" src="/view/images/default.gif"></a></div>
        <div class="tb-item forward"><a class="toggle-opacity " href="javascript: void(0)"><img class="sprite-forward" src="/view/images/default.gif"></a></div>
        <div class="tb-item forwardN"><a class="toggle-opacity " href="javascript: void(0)"><img class="sprite-forwardn" src="/view/images/default.gif"></a></div>
        <div class="tb-item forwardAll"><a class="toggle-opacity " href="javascript: void(0)"><img class="sprite-forwardall" src="/view/images/default.gif"></a></div>
        <%#<div class="branches"></div>%>
      </div>
      <%#<div class="banner">%>
      <%#  <div class="banner-overlay"></div>%>
      <%#  <div class="banner-left"><a class="localization " href="javascript:void(0)">中文</a> | <a class="localization " href="javascript:void(0)">EN</a>&nbsp;&nbsp;下一手&nbsp;<img class="next-player" src="/view//images/15/black.gif"></div>%>
      <%#  <div class="button move-number-outer"><a class="thickbox" href="#TB_inline?test=0&amp;width=250&amp;height=56&amp;inlineId=1_goTo&amp;focus=1_goToInput&amp;modal=true&amp;test1=0" title="跳到第XX手 [Alt Shift G]">&nbsp;<span class="control-text move-number ">0</span>&nbsp;</a></div>%>
      <%#  <div class="banner-overlay">%>
      <%#    <div class="prisoners-outer ">%>
      <%#      <div class="prisoners black"><span class="button"><a href="javascript: void(0)"><img class="prisoners" src="/view/images/15/black_dead.gif">&nbsp;&nbsp;<span class="control-text black_PRISONERS">0</span></a></span></div>%>
      <%#      <div class="prisoners white"><span class="button"><a href="javascript: void(0)"><img class="prisoners" src="/view/images/15/white_dead.gif">&nbsp;&nbsp;<span class="control-text white_PRISONERS">0</span></a></span></div>%>
      <%#    </div>%>
      <%#    <div class="open-window-outer"><a title="在新窗口打开 [Alt Shift W]" href="javascript: void(0)"><img class="sprite-newwindow" src="/view/images/default.gif"></a></div>%>
      <%#  </div>%>
      <%#</div>%>
      <%#<div class="right-pane ">%>
      <%#  <div class="info">%>
      <%#    <div style="text-align:center;font-weight:bold;margin-bottom:5px;">Copyright goproblems.com</div>%>
      <%#    <div>时间: 1999-07-21</div>%>
      <%#    <div>黑方: <strong>Black</strong></div>%>
      <%#    <div>白方: <strong>White</strong></div>%>
      <%#    <div>手数: 4</div>%>
      <%#    <div>结果: </div>%>
      <%#  </div>%>
      <%#  <div class="comment"><strong>第0手评论:</strong><br></div>%>
      <%#</div>%>
      <div id="container"></div>
    </div>
    <script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/js/zh_cn.js"></script>
    <script type="text/javascript" src="/js/base.js"></script>
    <script type="text/javascript" src="/js/model.js"></script>
    <script type="text/javascript" src="/js/parser.js"></script>
    <script type="text/javascript" src="/js/controller.js"></script>
    <script src="js/three/three.js"></script>
    <script src="js/three/OrbitControls.js"></script>
    <script src="3d_assets/board.js"></script>
    <script src="3d_assets/stone.js"></script>
    <script src="js/view.js"></script>
    <script type="text/javascript">
      var controller = new jsGameViewer.GameController({container: 'container'})
      controller.load('/examples/games/test2.sgf');
      <%#controller.init();%>
      <%#setTimeout(function() {%>
      <%#  // setup board pieces for testing%>
      <%#  controller.addStone(0, 0, jsGameViewer.model.STONE_BLACK);%>
      <%#  controller.addStone(3, 3, jsGameViewer.model.STONE_BLACK);%>
      <%#  controller.addStone(3, 4, jsGameViewer.model.STONE_WHITE);%>
      <%#  controller.addStone(4, 3, jsGameViewer.model.STONE_WHITE);%>
      <%#  controller.addStone(4, 4, jsGameViewer.model.STONE_BLACK);%>
      <%#  controller.addStone(3, 15, jsGameViewer.model.STONE_BLACK);%>
      <%#  controller.addStone(15, 3, jsGameViewer.model.STONE_BLACK);%>
      <%#  controller.addStone(15, 15, jsGameViewer.model.STONE_WHITE);%>
      <%#  controller.addStone(18, 18, jsGameViewer.model.STONE_WHITE);%>
      <%#}, 1000);%>
    </script>
  </body>
</html>

